.vscode
.vscode/settings.json
.DS_Store
doodl.code-workspace
backend/cache
backend/pretrained
backend/code/*.whl
doodl/build
doodl/dist
doodl/docs/_build
doodl/docs/_source
__pycache__
*.egg-info
doodl_tensorflow/build
doodl_tensorflow/dist
